.advantages__sub-1n {
	background-image: url('./brush.svg');
}

.advantages__sub-2n {
	background-image: url('./glasses.svg');
}

.advantages__sub-3n {
	background-image: url('./dance.svg');
}

.advantages__sub-4n {
	background-image: url('./mixer.svg');
}
